
@tailwind base;
@tailwind components;
@tailwind utilities;


.overpass-regular {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.overpass-bold {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}